@import url(https://use.fontawesome.com/releases/v6.0.0/css/all.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.container {
  display: grid;
  width: 130%;
  min-height: 50vh;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(56, 1, 1, 0.993);
  border-radius: 3px;
  padding-bottom: 100px;
  padding-top: 2%;
  margin: 10vh 0;
  position: relative;
  overflow: hidden;
}

.bi-arrow-repeat {
  color: rgb(0, 0, 0);
  margin-left: 55%;
  font-size: 1.5rem;
}

.group {
  width: 100%;
}

.add-item {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  padding: 0 10px;
  border-bottom: 1px #ddd solid;
  margin-left: -3px;
}

span {
  width: 80%;
  padding: 5px;
  border: none;
}

.bi-trash {
  color: red;
}

.bi {
  cursor: pointer;
}

.lineThrough {
  text-decoration: line-through;
  color: #808080;
}

.add-button {
  background: none;
}

.add-item input[type="text"]::placeholder {
  text-align: left;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c16ecf;

  /* margin-bottom: 1px; */
  padding: 4% 2%;
  background: peachpuff;
}

.actions-container {
  display: flex;
  align-items: flex-start;
  border: none;
}

.actions-container i {
  margin-left: 10px;
}

.header {
  font-size: 15px;
  border-bottom: 1px #ddd solid;
  margin-bottom: 0;
  padding: 1rem 0.1rem;
}

.title {
  display: inline-block;
  font-size: 1.2rem;
  color: black;
  text-align: start;
  justify-content: start;
  padding: 2% 2px;
}

.header .i {
  opacity: 0.6;
  color: #333;
}

.add-item * {
  color: #000;
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.add-item input {
  width: 100%;
  outline: none;
  border: none;
  color: #000;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.add-item input::placeholder {
  color: #808080;
  font-size: 1rem;
}

.add-item i {
  font-size: 1rem;
}

.list-item input {
  padding: 0.5rem 1rem;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: start;
}

.clearBtn {
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  outline: none;
  border: 1px;
  background-color: #6178d8;
  font-size: 16px;
  cursor: pointer;
  color: papayawhip;
}

.clearBtn:hover {
  color: wheat;
}
